@model IEnumerable<FPT_Book.Models.Book>

@{
	ViewData["Title"] = "Book Management";
	Layout = "~/Areas/Owner/Views/Shared/_OwnerLayout.cshtml";
}

<h1 class="text-center">Book Management</h1>

<p>
    <a asp-action="Create">Create New Book</a>
</p>

@*Search form*@
<form asp-controller="Book" asp-action="Index" method="get">
			<input type="search" name="SearchString" value="@ViewData["CurrentFilter"]" placeholder="Search here..."  >
			<input type="submit" value="Search" class="submit-search" asp-route-id="0" >            
            <a asp-action="Index">Back to Full List</a>
		</form>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Store)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Desc)
            </td>
            <td>
                 <img src="@(item.ImgUrl)" asp-append-version="true" width="200px" height="200px">
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Store.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Isbn">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Isbn">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Isbn">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>


<div style="display:flex;text-align:center;justify-content:center">
  <nav aria-label="...">
        <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="/Owner/Book/Index/@ViewBag.idpagprev" aria-label="Previous">
                   Previous
                </a>
            </li>
            @for (var i = 0; i < ViewBag.NumberOfPages; i++)
            {
                var style = (ViewBag.currentPage == @i) ? "active" : "";
                <li class="page-item @style " aria-current="page">
                    <a asp-action="Index" asp-route-id="@(i)" asp-route-SearchString="@ViewData["CurrentFilter"]" class="page-link">@(i +1 ) </a>
                </li>

            }

            <li class="page-item">
                <a class="page-link" href="/Owner/Book/Index/@ViewBag.idpagenext" aria-label="Next">
                   Next
                </a>
            </li>
        </ul>
    </nav>
</div>
  


