@model IEnumerable<FPT_Book.Models.Book>

@{
	ViewData["Title"] = "Book Management";
	Layout = "~/Areas/Owner/Views/Shared/_OwnerLayout.cshtml";
}

<h1 class="text-center">Book Management</h1>

<p>
	@*<a asp-action="Create">Create New</a>*@
	<button type="submit" class="btn btn-outline-primary" asp-action="Create">Create New Book</button>	
</p>

@*Search form*@
<form asp-action="Index" method="get">
	@*<div class="form-actions no-color">
		@*<p>
		Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
		<input type="submit" value="Search" class="btn btn-default" /> |
		<a asp-action="Index">Back to Full List</a>
		</p>
		</div>*@

	<div class="input-group form-actions">
		<input type="search" class="form-control rounded" placeholder="Search by title and author" aria-label="Search" aria-describedby="search-addon" name="Booksearch" value="@ViewData["Getbookdetails"]" style="width:500px;"/>
		<button type="submit" class="btn btn-outline-primary" value="Search">search</button>		
		<button type="button" class="btn btn-outline-primary" asp-action="Search">Back to Full List</button>
	</div>

</form>


<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Title)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Pages)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Author)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Price)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Desc)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.ImgUrl)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Category)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Store)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Title)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Pages)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Author)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Price)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Desc)
				</td>
				<td>
					<img src="@(item.ImgUrl)" asp-append-version="true" width="200px" height="200px">
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Category.Name)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Store.Name)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.Isbn">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.Isbn">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.Isbn">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>

<div style="display:flex;text-align:center;justify-content:center">
	<nav aria-label="Page navigation example">
          <ul class="pagination">
              <li class="page-item">
                      <a class="page-link" asp-route-id="0">First</a>
              </li>
              @for (var i = @ViewBag.min; i < @ViewBag.end; i++)
              {
                  var style = (ViewBag.currentPage == @i) ? "active" : "";
                  <li class="page-item @style">
                      <a class="page-link" asp-route-id="@i">@(i+1)</a>
                  </li>
              }
              <li class="page-item">
                      <a class="page-link" asp-route-id="@ViewBag.numberOfPages">EndPage</a>
              </li>
          </ul>
      </nav>
</div>

